<!doctype html>
<html lang="pt-br">
<head th:replace="~{base :: head('Formulário de Pedidos')}"></head>

<body>

<div th:replace="~{base :: header}"></div>

<div class="container">
    <div th:replace="~{base :: jumbotron('Formulário de Pedidos')}"></div>

    <div class="card mt-3">
        <form th:object="${requisicaoNovoPedido}" class="card-body d-flex flex-column gap-3" action="/pedido/novo"
              method="POST">
            <div class="form-group d-flex flex-column gap-3">
                <label for="nomeProduto">Produto</label>
                <input th:field="*{nomeProduto}" th:errorClass="is-invalid" class="form-control"
                       placeholder="Nome do produto"/>
                <small>Informa qual o nome do produto.</small>
                <div th:errors="*{nomeProduto}" class="invalid-feedback">Erro no campo produto</div>
            </div>
            <div class="form-group d-flex flex-column gap-3">
                <label for="urlProduto">Url</label>
                <input th:field="*{urlProduto}" th:errorClass="is-invalid" class="form-control"
                       placeholder="Url do produto"/>
                <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
                <div th:errors="*{urlProduto}" class="invalid-feedback">Erro no campo url produto</div>
            </div>
            <div class="form-group d-flex flex-column gap-3">
                <label for="urlImagem">Imagem</label>
                <input th:field="*{urlImagem}" th:errorClass="is-invalid" class="form-control"
                       placeholder="Url da imagem"/>
                <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
                <div th:errors="*{urlImagem}" class="invalid-feedback">Erro no campo url imagem</div>
            </div>
            <div class="form-group d-flex flex-column gap-3">
                <label for="descricao">Descrição</label>
                <textarea th:field="*{descricao}" class="form-control"
                          placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>

</body>
</html>